html {
  font-family: "Open Sans", sans-serif;
  color: #000;
}

section {
  background-color: #fff;
}

h1 {
  border-bottom: 1px solid;
}

@media only screen and (min-width: 60em) {

  html {
    background-color: #f2f2f2;
  }

  .unit {
    padding-left: .5em;
    padding-right: .5em;
  }

}
